body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER STYLING*/
.header{
    background-color: #1f2937;
    color: #fff;
    padding: 16px 150px;
}

/*HERO*/
header{
    font-size: 24px;
    font-weight: 600;
    color: #fafbf9;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*HERO_MAIN*/
h2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin:0;
}

.hero_btn{
    background-color: #3882f6;
    border-color: #3882f6;
    color: #fff;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img{
    width: 500px;
    height: auto;
    margin: 100px 0 100px 0;
}

.hero_column h2, p{
    width: 500px;
}

/*CONTAINERS*/
.hero_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_container{
    display: flex;
    justify-content: space-between;
}

.hero_main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.links{
    display: flex;
    gap: 20px;
}


/*MIDDLE STYLING*/
/*MIDDLE*/
.middle{
    margin: 50px 100px 150px 100px;
}

h3{
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
/*IMAGES*/
.subtext img{
    width: 250px;
    height: auto;
    border-radius: 25px;
    border: 5px solid #3882f6;
}
.subtext p{
    margin: 0;
    text-align: center;
}
/*CONTAINERS*/
.images{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 50px;
}
.subtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

/*QUOTE STYLING*/

/*CONTAINERS*/
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote_container{
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 750px;
}

figcaption{
    text-align: right;
    font-size: 22px;
    font-weight: 600;
}

/*FOOTER*/
footer{
    background-color: #1f2937;
}



